/*Fonte importada do GoogleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/*Cofigurando ambiente padrão*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Menu */

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1e1f;
    position: fixed;
    padding-left: 30rem;
}

.logo {
    width: 220px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
}

.logo img {
    width: 20%;
    height: 100%;
}

.logo h3 {
    color: #ffffff;
    font-size: 1.4rem;
}

.list_menu {
    width: 600px;
    height: 70px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.content .list_menu li a {
    color: #ffffff;
    padding: 1rem 1rem 1rem 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 200ms ease-in;
}

.content .list_menu li a:hover {
    border-bottom: 4px solid #dd9c23;
    color: #dd9c23;
}


/* First Section */

.first-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#000000a8, #000000a6), url(./img/background_first_section.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60px;
}

.first-section .main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section .main_content h1 {
    color: #d1820c;
    font-size: 6.2rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.first-section .main_content h2 {
    color: #d6d6d6;
    font-size: 2.0rem;
}


/* Sobre nós */

.sobre-nos {
    background-color: #1f1e1f;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nos .img_sobre-nos img {
    width: 600px;
    height: 500px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid #be873e;
}

.main{
    display: flex;
    justify-content:space-between;
}

.contentsobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobre h2 {
    font-size: 3.0rem;
    color: #ffebc8;
    margin-bottom: 2rem;
}

.contentsobre h3 {
    font-size: 2.0rem;
    color: #ffebc8;
    text-decoration: underline;
}

.contentsobre p {
    font-size: 1.6rem;
    color: #fff0da;
    width: 700px;
}

/* Cardápio */

.cardapio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272727;
}

.cardapio h2{
    color: #be873e;
    font-size: 4.0rem;
    padding-top: 5rem;
}

.itens_cardapio{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    background-color: #272727;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens_cardapio .info{
    background-color: #ffecc8;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}

.itens_cardapio .info h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-decoration: underline;

}

.itens_cardapio .info h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}

.itens_cardapio .info h4 span{
    font-size: 1.6rem;
    color: #dd9c23;
    text-decoration: underline;
    margin-left: 3.3rem;
}

.itens_cardapio img{
   width: 100%;
   height: 250px;
   border-top-right-radius: 6px;
   border-top-left-radius: 6px;
}

.info button{
    margin-top: 1rem;
    color: #000000;
    background-color: #be873e;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    cursor: pointer;
    font-size: 2.0rem;
}

.info button:hover{
    background-color: #9b6217;
    border: 1px solid #b3b2b2ab;
    transition: all 200ms ease-in;
}

.info button a{
    text-decoration: none;
    color: #000000;
}

.produto{
    box-shadow: 0px 0px 4px 1px;
    background-color: transparent;
    border-radius: 6px;
}

/* Contatos */

.contatos{
    background-color: #1f1e1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contatos h2{
    font-size: 3.0rem;
    text-transform: uppercase;
    color: #be873e;
}

.contatos ul{
    color: #fff0da;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.contatos li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.contatos a{
    text-decoration: none;
    color: #fff0da;
}

/* Footer */

footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffebc8;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer a{
    text-decoration: none;
    color: #ffebc8;
}