/*Fonte importada do GoogleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/*Cofigurando ambiente padrão*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Menu */

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1e1f;
    position: fixed;
    padding-left: 30rem;
}

.logo {
    width: 220px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
}

.logo img {
    width: 20%;
    height: 100%;
}

.logo h3 {
    color: #ffffff;
    font-size: 1.4rem;
}

.list_menu {
    width: 600px;
    height: 70px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.content .list_menu li a {
    color: #ffffff;
    padding: 1rem 1rem 1rem 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 200ms ease-in;
}

.content .list_menu li a:hover {
    border-bottom: 4px solid #dd9c23;
    color: #dd9c23;
}


/* Style da First Section */

.first-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#000000a8, #000000a6), url(./img/background_first_section.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60px;
}

.first-section .main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section .main_content h1 {
    color: #d1820c;
    font-size: 6.2rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.first-section .main_content h2 {
    color: #d6d6d6;
    font-size: 2.0rem;
}


/* Estilizando Class: Sobre nós */

.sobre-nos {
    background-color: #1f1e1f;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nos .img_sobre-nos img {
    width: 600px;
    height: 500px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid #be873e;
}

.main{
    display: flex;
    justify-content:space-between;
}

.contentsobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobre h2 {
    font-size: 3.0rem;
    color: #ffebc8;
    margin-bottom: 2rem;
}

.contentsobre h3 {
    font-size: 2.0rem;
    color: #ffebc8;
    text-decoration: underline;
}

.contentsobre p {
    font-size: 1.6rem;
    color: #fff0da;
    width: 700px;
}

/* Cardápio */

.cardapio{
    width: 100vw;
    height: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272727;
}

.itens_cardapio img{
    width: 250px;
    height: 200px;
}

.itens_cardapio{
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    background-color: rgb(56, 56, 56);
    justify-content: space-evenly;
}

.cardapio h2{
    color: #be873e;
    font-size: 4.0rem;
}

